* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Circular Std", Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 81px;
}

.logo {
  width: 202px;
  height: 20px;
  background-image: url("media/Frame.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 129px;
  flex-grow: 1;
}

.menu-item {
  margin-left: 15px;
  color: #000c2d;
  font-family: "Circular Std", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.71px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: transparent;
}

.menu-item.demo {
  width: 136px;
  height: 44px;
  padding: 12px 23px;
  gap: 10px;
  border: 1px solid #2f70fe;
  color: #2f70fe;
  background-color: #ffffff;
  border-radius: 5px;
}

.menu-item.login {
  display: flex;
  align-items: center;
  width: 58px;
  height: 18px;
  gap: 4px;
  color: #000c2d;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.71px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.login-icon {
  width: 16px;
  height: 16px;
  margin-right: 0;
}

.menu-item:last-child {
  margin-right: 0;
}

.hero {
  width: 100%;
  height: 565px;
  padding: 0;
  background: #2f70fe;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Pridedame, kad iliustracijos būtų pozicionuojamos absoliučiai */
}

.hero-text {
  width: 789px;
  height: auto;
  gap: 7px;
  text-align: center;
}

.hero-text h1 {
  width: 620px;
  height: 130px;
  margin: 0 auto;
  font-family: "Circular Std", Arial, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
}

.hero-text p {
  width: 605px;
  height: 60px;
  margin: 0 auto;
  font-family: "Circular Std", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 30px;
}

.hero-button {
  width: 162px;
  height: 52px;
  padding: 16px 25px;
  gap: 10px;
  background: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}
.hero-image-left {
  position: absolute;
  width: 389.74px;
  height: 254.87px;
  top: 320px;
  left: 98px;
}

.hero-image-right {
  position: absolute;
  width: 340.17px;
  height: 261px;
  top: 227px;
  left: 978px;
}
